<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Handling-the-Identifiers" data-toc-modified-id="Handling-the-Identifiers-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Handling the Identifiers</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training-and-testing-data" data-toc-modified-id="Combining-the-training-and-testing-data-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Combining the training and testing data</a></span></li><li><span><a href="#Identifying-the-identifiers" data-toc-modified-id="Identifying-the-identifiers-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Identifying the identifiers</a></span></li><li><span><a href="#Removing-the-Identifiers" data-toc-modified-id="Removing-the-Identifiers-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Removing the Identifiers</a></span></li></ul></li><li><span><a href="#Handling-Missing-Data" data-toc-modified-id="Handling-Missing-Data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Handling Missing Data</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training-and-testing-data" data-toc-modified-id="Combining-the-training-and-testing-data-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Combining the training and testing data</a></span></li><li><span><a href="#Identifying-missing-values" data-toc-modified-id="Identifying-missing-values-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Identifying missing values</a></span></li><li><span><a href="#Removing-missing-values" data-toc-modified-id="Removing-missing-values-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Removing missing values</a></span></li><li><span><a href="#Imputing-missing-values" data-toc-modified-id="Imputing-missing-values-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Imputing missing values</a></span></li></ul></li><li><span><a href="#Encoding-the-data" data-toc-modified-id="Encoding-the-data-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Encoding the data</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training-and-testing-data" data-toc-modified-id="Combining-the-training-and-testing-data-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Combining the training and testing data</a></span></li><li><span><a href="#Identifying-the-Categorical-Variables" data-toc-modified-id="Identifying-the-Categorical-Variables-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Identifying the Categorical Variables</a></span></li><li><span><a href="#Encoding-the-features" data-toc-modified-id="Encoding-the-features-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Encoding the features</a></span></li><li><span><a href="#Separating-the-training-and-testing-data" data-toc-modified-id="Separating-the-training-and-testing-data-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Separating the training and testing data</a></span></li></ul></li><li><span><a href="#Scaling-the-data" data-toc-modified-id="Scaling-the-data-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Scaling the data</a></span><ul class="toc-item"><li><span><a href="#Standardization" data-toc-modified-id="Standardization-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Standardization</a></span></li><li><span><a href="#Min-Max-Normalization" data-toc-modified-id="Min-Max-Normalization-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Min-Max Normalization</a></span></li><li><span><a href="#Standardization-VS-Min-Max-Normalization" data-toc-modified-id="Standardization-VS-Min-Max-Normalization-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Standardization VS Min-Max Normalization</a></span></li></ul></li></ul></li></ul></div>

<b>

<p>
<center>
<font size="5">
Machine Learning I (DATS 6202), Spring 2020
</font>
</center>
</p>

<p>
<center>
<font size="4">
Case Study 1: Predicting House Price
</font>
</center>
</p>

<p>
<center>
<font size="3">
Data Science, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Author: Yuxiao Huang
</font>
</center>
</p>

</b>

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Data Preprocessing

In this case study, we will work on the [House Prices (Advanced Regression Techniques) dataset](https://www.kaggle.com/c/house-prices-advanced-regression-techniques).

In [2]:
import pandas as pd

# Load the training data
df_train = pd.read_csv('./data/house_prices_advanced_regression_techniques/train.csv',
                       header=0)

# Load the testing data
df_test = pd.read_csv('./data/house_prices_advanced_regression_techniques/test.csv',
                      header=0)

# Get the target
target = 'SalePrice'

# Print the dimension of df_train and df_test
print(df_train.shape)
print(df_test.shape)

(1460, 81)
(1459, 80)

In [3]:
# Print the first 10 rows (samples) of df_train
df_train.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

## Handling the Identifiers

### Combining the training and testing data
The code below shows how to combine the training and testing data (using pandas concat).

In [4]:
# Combine df_train and df_test
df = pd.concat([df_train, df_test], sort=False)

### Identifying the identifiers

The code below shows an automatic way to find identifiers from the data.

In [5]:
def id_checker(df):
    """
    The identifier checker

    Parameters
    ----------
    df : dataframe
    
    Returns
    ----------
    The dataframe of identifiers
    """
    
    # Get the identifiers
    df_id = df[[var for var in df.columns 
                if df[var].nunique(dropna=True) == df[var].notnull().sum()]]
                
    return df_id

In [6]:
# Call id_checker on df
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

   Id
0   1
1   2
2   3
3   4
4   5

### Removing the Identifiers

The code below shows how to remove Id from data (using pandas DataFrame.drop).

In [7]:
# Remove Id from df_train
df_train = df_train.drop(columns=df_id.columns)

# Remove Id from df_test
df_test = df_test.drop(columns=df_id.columns)

# Print the dimension of df_train and df_test
print(df_train.shape)
print(df_test.shape)

(1460, 80)
(1459, 79)

In [8]:
# Print the first 10 rows of df_train
df_train.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

## Handling Missing Data

In [9]:
# Print the first 10 rows of df_train
df_train.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

### Combining the training and testing data
The code below shows how to combine the training and testing data (using pandas concat).

In [10]:
# Combine df_train and df_test
df = pd.concat([df_train, df_test], sort=False)

### Identifying missing values

The code below shows an automatic way to find variables with NaN (using pandas DataFrame.isna), their proportion of NaN and dtype (data type objects, using pandas Series.dtype).

In [11]:
def nan_checker(df):
    """
    The NaN checker

    Parameters
    ----------
    df : dataframe
    
    Returns
    ----------
    The dataframe of variables with NaN, their proportion of NaN and dtype
    """
    
    # Get the variables with NaN, their proportion of NaN and dtype
    df_nan = pd.DataFrame([[var, df[var].isna().sum() / df.shape[0], df[var].dtype]
                           for var in df.columns if df[var].isna().sum() > 0],
                          columns=['var', 'proportion', 'dtype'])
    
    # Sort df_nan in accending order of the proportion of NaN
    df_nan = df_nan.sort_values(by='proportion', ascending=False)
    
    return df_nan

In [12]:
# Call nan_checker on df
df_nan = nan_checker(df)

# Print df_nan
df_nan.reset_index(drop=True)

             var  proportion    dtype
0         PoolQC    0.996574   object
1    MiscFeature    0.964029   object
2          Alley    0.932169   object
3          Fence    0.804385   object
4      SalePrice    0.499829  float64
5    FireplaceQu    0.486468   object
6    LotFrontage    0.166495  float64
7     GarageCond    0.054471   object
8    GarageYrBlt    0.054471  float64
9   GarageFinish    0.054471   object
10    GarageQual    0.054471   object
11    GarageType    0.053786   object
12  BsmtExposure    0.028092   object
13      BsmtCond    0.028092   object
14      BsmtQual    0.027749   object
15  BsmtFinType2    0.027407   object
16  BsmtFinType1    0.027064   object
17    MasVnrType    0.008222   object
18    MasVnrArea    0.007879  float64
19      MSZoning    0.001370   object
20    Functional    0.000685   object
21  BsmtHalfBath    0.000685  float64
22  BsmtFullBath    0.000685  float64
23     Utilities    0.000685   object
24   KitchenQual    0.000343   object
25   TotalBsmtSF    0.000343  float64
26     BsmtUnfSF    0.000343  float64
27    GarageCars    0.000343  float64
28    GarageArea    0.000343  float64
29    BsmtFinSF2    0.000343  float64
30    BsmtFinSF1    0.000343  float64
31   Exterior2nd    0.000343   object
32   Exterior1st    0.000343   object
33      SaleType    0.000343   object
34    Electrical    0.000343   object

In [13]:
# Print the unique dtype of the variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

     dtype
0   object
1  float64

The code below shows how to use dtype to select variables with missing values in the combined training and testing data.

In [14]:
# Get the variables with missing values, their proportion of missing values and dtype
df_miss = df_nan[df_nan['dtype'] == 'float64']

# Print df_miss
df_miss.reset_index(drop=True)

             var  proportion    dtype
0      SalePrice    0.499829  float64
1    LotFrontage    0.166495  float64
2    GarageYrBlt    0.054471  float64
3     MasVnrArea    0.007879  float64
4   BsmtHalfBath    0.000685  float64
5   BsmtFullBath    0.000685  float64
6    TotalBsmtSF    0.000343  float64
7      BsmtUnfSF    0.000343  float64
8     GarageCars    0.000343  float64
9     GarageArea    0.000343  float64
10    BsmtFinSF2    0.000343  float64
11    BsmtFinSF1    0.000343  float64

### Removing missing values
The code below shows how to remove rows with missing values (here we use numpy intersect1d to find the intersection of two series).

In [15]:
import numpy as np

# Remove rows with missing values from df_train
df_remove_train = df_train.dropna(subset=np.intersect1d(df_miss['var'], 
                                                        df_train.columns),
                                 inplace=False)

# Remove rows with missing values from df_test
df_remove_test = df_test.dropna(subset=np.intersect1d(df_miss['var'], 
                                                      df_test.columns),
                               inplace=False)

# Print the dimension of the training and testing data
print(df_remove_train.shape)
print(df_remove_test.shape)

(1121, 80)
(1146, 79)

### Imputing missing values
The code below shows how to use the mean to a numerical variable to impute its missing values (using sklearn SimpleImputer).

In [16]:
from sklearn.impute import SimpleImputer

# The SimpleImputer
si = SimpleImputer(missing_values=np.nan, strategy='mean')

# Make a copy of df_train and df_test
df_impute_train = df.iloc[:df_train.shape[0],:].copy(deep=True)
df_impute_test = df.iloc[df_train.shape[0]:,:].copy(deep=True)

# Impute the variables with missing values in df_impute_train and df_impute_test 
df_impute_train[df_miss['var']] = si.fit_transform(df_impute_train[df_miss['var']])
df_impute_test[df_miss['var']] = si.transform(df_impute_test[df_miss['var']])

# Print the first 10 rows of df_impute_train
df_impute_train.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.000000,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,20,RL,80.000000,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,60,RL,68.000000,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,70,RL,60.000000,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,60,RL,84.000000,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
5,50,RL,85.000000,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000.0
6,20,RL,75.000000,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000.0
7,60,RL,70.049958,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000.0
8,50,RM,51.000000,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900.0
9,190,RL,50.000000,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000.0

## Encoding the data

### Combining the training and testing data
The code below shows how to combine the training and testing data (using pandas concat).

In [17]:
# Combine df_impute_train and df_impute_test
df = pd.concat([df_impute_train, df_impute_test], sort=False)

# Print the unique dtype of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0    int64
1   object
2  float64

### Identifying the Categorical Variables

The code below shows how to find the categorical variables that have object as dtype (using pandas.Series.dtype).

In [18]:
def cat_var_checker(df):
    """
    The categorical variable checker

    Parameters
    ----------
    df: the dataframe
    
    Returns
    ----------
    The dataframe of categorical variables and their number of unique value
    """
    
    # Get the dataframe of categorical variables and their number of unique value
    df_cat = pd.DataFrame([[var, df[var].nunique(dropna=False)]
                           for var in df.columns if df[var].dtype == 'object'],
                          columns=['var', 'nunique'])
    
    # Sort df_cat in accending order of the number of unique value
    df_cat = df_cat.sort_values(by='nunique', ascending=False)
    
    return df_cat

In [19]:
# Call cat_var_checker on df
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat.reset_index(drop=True)

              var  nunique
0    Neighborhood       25
1     Exterior2nd       17
2     Exterior1st       16
3        SaleType       10
4      Condition1        9
5      Condition2        8
6        RoofMatl        8
7      Functional        8
8      HouseStyle        8
9    BsmtFinType2        7
10   BsmtFinType1        7
11     GarageType        7
12     Electrical        6
13     Foundation        6
14        Heating        6
15    FireplaceQu        6
16     GarageQual        6
17     GarageCond        6
18       MSZoning        6
19  SaleCondition        6
20      RoofStyle        6
21      ExterCond        5
22       BldgType        5
23    MiscFeature        5
24          Fence        5
25      LotConfig        5
26    KitchenQual        5
27       BsmtQual        5
28      HeatingQC        5
29     MasVnrType        5
30   BsmtExposure        5
31       BsmtCond        5
32      ExterQual        4
33   GarageFinish        4
34    LandContour        4
35       LotShape        4
36         PoolQC        4
37      Utilities        3
38     PavedDrive        3
39          Alley        3
40      LandSlope        3
41     CentralAir        2
42         Street        2

### Encoding the features
The code below shows how to encode the categorical features in the combined training and testing data (using pandas.get\_dummies).

In [20]:
# One-hot-encode the categorical features in the combined training and testing data
df = pd.get_dummies(df, columns=df_cat['var'])

# Print the first 10 rows (samples) of df
df.head(10)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,PavedDrive_Y,Alley_Grvl,Alley_Pave,LandSlope_Gtl,LandSlope_Mod,LandSlope_Sev,CentralAir_N,CentralAir_Y,Street_Grvl,Street_Pave
0,60,65.000000,8450,7,5,2003,2003,196.0,706.0,0.0,...,1,0,0,1,0,0,0,1,0,1
1,20,80.000000,9600,6,8,1976,1976,0.0,978.0,0.0,...,1,0,0,1,0,0,0,1,0,1
2,60,68.000000,11250,7,5,2001,2002,162.0,486.0,0.0,...,1,0,0,1,0,0,0,1,0,1
3,70,60.000000,9550,7,5,1915,1970,0.0,216.0,0.0,...,1,0,0,1,0,0,0,1,0,1
4,60,84.000000,14260,8,5,2000,2000,350.0,655.0,0.0,...,1,0,0,1,0,0,0,1,0,1
5,50,85.000000,14115,5,5,1993,1995,0.0,732.0,0.0,...,1,0,0,1,0,0,0,1,0,1
6,20,75.000000,10084,8,5,2004,2005,186.0,1369.0,0.0,...,1,0,0,1,0,0,0,1,0,1
7,60,70.049958,10382,7,6,1973,1973,240.0,859.0,32.0,...,1,0,0,1,0,0,0,1,0,1
8,50,51.000000,6120,7,5,1931,1950,0.0,0.0,0.0,...,1,0,0,1,0,0,0,1,0,1
9,190,50.000000,7420,5,6,1939,1950,0.0,851.0,0.0,...,1,0,0,1,0,0,0,1,0,1

### Separating the training and testing data
The code below shows how to separate the training and testing data.

In [21]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the testing data
df_test = df.iloc[df_train.shape[0]:, :]

# Print the dimension of the training and testing data
print(df_train.shape)
print(df_test.shape)

(1460, 289)
(1459, 289)

## Scaling the data

### Standardization
The code below shows how to standardize the data (using sklearn StandardScaler).

In [22]:
from sklearn.preprocessing import StandardScaler

# The StandardScaler
ss = StandardScaler()

# Standardize the training data
df_ss_train = pd.DataFrame(ss.fit_transform(df_train), columns=df_train.columns)

# Standardize the testing data
df_ss_test = pd.DataFrame(ss.transform(df_test), columns=df_test.columns)

### Min-Max Normalization
The code below shows how to normalize the data (using sklearn MinMaxScaler).

In [23]:
from sklearn.preprocessing import MinMaxScaler

# The MinMaxScaler
mms = MinMaxScaler()

# Normalize the training data
df_mms_train = pd.DataFrame(mms.fit_transform(df_train), columns=df_train.columns)

# Normalize tthe testing data
df_mms_test = pd.DataFrame(mms.transform(df_test), columns=df_test.columns)

### Standardization VS Min-Max Normalization
The code below shows the difference in the range of the variables in the training data transformed by StandardScaler and MinMaxScaler

In [24]:
# Get the min and max of each feature in the training data after standardization
mins_ss_train, maxs_ss_train = df_ss_train.min(axis=1), df_ss_train.max(axis=1)

# Get the min and max of each feature in the training data after min-max normalization
mins_mms_train, maxs_mms_train = df_mms_train.min(axis=1), df_mms_train.max(axis=1)

# Get the dataframe of min and max
df_min_max_train = pd.DataFrame([[mins_ss_train.min(), 
                                  mins_ss_train.max(), 
                                  maxs_ss_train.min(), 
                                  maxs_ss_train.max()],
                                 [mins_mms_train.min(), 
                                  mins_mms_train.max(), 
                                  maxs_mms_train.min(), 
                                  maxs_mms_train.max()]],
                                index=['StandardScaler', 'MinMaxScaler'],
                                columns=['min of the mins', 
                                         'max of the mins',
                                         'min of the maxs',
                                         'max of the maxs'])

# Print df_min_max_train
round(df_min_max_train, 3)

,min of the mins,max of the mins,min of the maxs,max of the maxs
StandardScaler,-38.197,-0.995,2.413,38.197
MinMaxScaler,0.000,0.000,1.000,1.000

The code below shows the difference in the robustness to outliers between StandardScaler and MinMaxScaler.

In [25]:
# Copy df_train
df_outlier_train = df_train.copy(deep=True)

# Add the outlier to the first sample of the first variable in df_outlier_train
df_outlier_train.iloc[0, 0] = 10 ** 6

# Standardize df_outlier_train
df_outlier_ss_train = ss.fit_transform(df_outlier_train)

# Normalize df_outlier_train
df_outlier_mms_train = mms.fit_transform(df_outlier_train)

# Get the dataframe of the first variablefeature in df_train, df_outlier_train, df_outlier_ss_train and df_outlier_mms_train
df_outlier_ss_mms_train = pd.DataFrame(np.hstack((df_train.iloc[:, 0].values.reshape(-1, 1),
                                                  df_outlier_train.iloc[:, 0].values.reshape(-1, 1),
                                                  df_outlier_ss_train[:, 0].reshape(-1, 1),
                                                  df_outlier_mms_train[:, 0].reshape(-1, 1))),
                                       columns=['df_train',
                                                'df_outlier_train', 
                                                'df_outlier_StandardScaler_train', 
                                                'df_outlier_MinMaxScaler_train']).astype({'df_train':int,
                                                                                          'df_outlier_train':int,
                                                                                          'df_outlier_StandardScaler_train':float,
                                                                                          'df_outlier_MinMaxScaler_train':float})

# Print the first 10 rows of df_outlier_ss_mms_train
round(df_outlier_ss_mms_train.head(10), 3)

,df_train,df_outlier_train,df_outlier_StandardScaler_train,df_outlier_MinMaxScaler_train
0,60,1000000,38.197,1.0
1,20,20,-0.028,0.0
2,60,60,-0.026,0.0
3,70,70,-0.026,0.0
4,60,60,-0.026,0.0
5,50,50,-0.026,0.0
6,20,20,-0.028,0.0
7,60,60,-0.026,0.0
8,50,50,-0.026,0.0
9,190,190,-0.021,0.0